<div class="row">
  <div class="large-12 columns">
    &nbsp;
  </div>
</div>
<div class="row">
  <div class="small-4 large-centered columns">
    <ul class="small-block-grid-3">
      <%= render partial: 'static_pages/apps', collection: %w( garmin runkeeper strava ) %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-3 large-centered columns">
    add in some arrow images here
    that can point to bottom row 
    based on selections
  </div>
</div>
<div class="row">
  <div class="small-4 large-centered columns">
    <ul class="small-block-grid-3">
      <%= render partial: 'static_pages/apps', collection: %w( garmin runkeeper strava ) %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="large-12 columns text-center">
    <a class="button round" href="#">Transfer</a>
  </div>
</div>